<div class = "page-header">
	<div id = "profile-header">
		<div class = "profile">
		<%= image_tag @user.profile_url, :class => 'img-circle' %>
		<br><br>
		<legend>
		<div class = "name"><%= @user.full_name %></div>
	<% if signed_in? %>
	<div>
		<% if current_user.profile_name.eql?(@user.profile_name) %>
			<%= link_to content_tag(:i), edit_profile_path, class: 'glyphicon glyphicon-list-alt fa-lg btn-grey' %>
			<%= link_to content_tag(:i), friends_path, class: 'glyphicon glyphicon-globe fa-lg btn-grey' %>
		<% elsif current_user.friends.include?(@user) || current_user.pending_friends.include?(@user) %>
			<%= link_to content_tag(:i), edit_user_friendship_path(friend_id: @user), class: 'glyphicon glyphicon-link fa-lg btn-grey' %>
		<% else %>
			<%= link_to content_tag(:i), new_user_friendship_path(friend_id: @user), class: 'glyphicon glyphicon-plus-sign fa-lg btn-grey', id: 'add-friendship', data: { friend_id: @user.to_param } %>
		<% end %>
	</div>
	<% end %>
	<div id = "requested">
	</div>
	</legend>
	</div>
</div>
</div>

<div id = "friend-status">
<% if @statuses %>
	<% @statuses.each do |status| %>
		<div class = "well">
			<%= status.content %><br>
			<% if status.user == current_user %>
              <%= link_to time_ago_in_words(status.created_at) + " ago", edit_status_path(status) %> 
            <% else %>
              <%= link_to time_ago_in_words(status.created_at) + " ago" %>
            <% end %>
		</div>
	<% end %>
<% end %>
</div>