<div class="span10 form well friends bottom">
	<div class = "page-header no-header">
		<legend>our friendship</legend>
	</div>

	<div class = "row">
		<div class = "avatar span4 me">
			<%= image_tag @user_friendship.user.profile_url %><br><br>
			<%= @user_friendship.user.full_name %><br><br>
		</div>
		<div class = "avatar span4 them">
			<%= image_tag @user_friendship.friend.profile_url %><br><br>
			<%= @user_friendship.friend.full_name %><br><br>
		</div>
	</div>

	<div class = "friendship-page">
		<legend><%= @user_friendship.sub_message %><br></legend>
	</div>

	<div class = "friendship">
		<% if @user_friendship.requested? %>
			<%= link_to "accept", accept_user_friendship_path(@user_friendship), method: :put, class: 'btn btn-success friend' %>
		<% end %>
		<%= link_to "block", block_user_friendship_path(@user_friendship), method: :put, class: 'btn btn-default btn-gray friend' %>
		<%= link_to "delete", user_friendship_path(@user_friendship), method: :delete, class: 'btn btn-danger friend' %>
	</div>
</div>