<div class="span5 form edit-profile">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "well", :method => :put }) do |f| %>
<legend>edit profile</legend>

  <%= f.input :first_name, label: false, placeholder: "first name" %>  
  <%= f.input :last_name, label: false, placeholder: "last name" %>  
  <%= f.input :profile_name, label: false, placeholder: "profile_name" %>
  <%= f.input :fb_id, label: false, placeholder: "facebook id" %>
  <%= f.input :email, label: false, placeholder: "email" %>
  <%= f.input :password, label: false, :autocomplete => "off", placeholder: "password" %>
  <%= f.input :password_confirmation, label: false, placeholder: "password confirmation" %>
  <%= f.input :current_password, label: false, placeholder: "current password" %>
  <%= f.submit "update", class: "btn btn-special btn-block" %>
<% end %>
</div>
