<div class="page-header">
  <legend>news feed</legend>
</div>

<%= link_to "post a status", new_status_path, class: "btn btn-success" %>
<br>

<% @statuses.each do |status| %>
  <% if can_display_status?(status) %>
    <div class="status">
      <div class = "row">
        <div class ="span1">
          <%= link_to image_tag(status.user.photo_url), profile_path(status.user), :class => 'img-circle status-photo' %>
        </div>
        <div class = "span7">
          <strong><%= link_to status.user.full_name, profile_path(status.user) %></strong>
          <p><%= status.content %></p>
          <div class="meta">
            <% if status.user == current_user %>
              <%= link_to time_ago_in_words(status.created_at) + " ago", edit_status_path(status) %> 
            <% else %>
              <%= link_to time_ago_in_words(status.created_at) + " ago" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class = "extra">
</div>